In [28]:
import pandas as pd
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\ML\14) Naive Bayes Classifier Algorithm\data\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [29]:
df.drop(['PassengerId','Name','SibSp','Parch','Embarked','Ticket','Cabin'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [30]:
target = df['Survived']
inputs = df.drop(['Survived'],axis='columns')

In [31]:
dummies = pd.get_dummies(inputs['Sex'])
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [32]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [33]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False
3       1  female  35.0  53.1000    True  False
4       3    male  35.0   8.0500   False   True

In [34]:
inputs.drop(['Sex'],axis='columns',inplace=True)
inputs

     Pclass   Age     Fare  female   male
0         3  22.0   7.2500   False   True
1         1  38.0  71.2833    True  False
2         3  26.0   7.9250    True  False
3         1  35.0  53.1000    True  False
4         3  35.0   8.0500   False   True
..      ...   ...      ...     ...    ...
886       2  27.0  13.0000   False   True
887       1  19.0  30.0000    True  False
888       3   NaN  23.4500    True  False
889       1  26.0  30.0000   False   True
890       3  32.0   7.7500   False   True

[891 rows x 5 columns]

In [35]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [36]:
inputs.isna().any()

Pclass    False
Age        True
Fare      False
female    False
male      False
dtype: bool

In [37]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [38]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [39]:
inputs['Age'].mean()

np.float64(29.69911764705882)

In [40]:
inputs['Age'] = inputs['Age'].fillna(inputs['Age'].mean())
inputs

     Pclass        Age     Fare  female   male
0         3  22.000000   7.2500   False   True
1         1  38.000000  71.2833    True  False
2         3  26.000000   7.9250    True  False
3         1  35.000000  53.1000    True  False
4         3  35.000000   8.0500   False   True
..      ...        ...      ...     ...    ...
886       2  27.000000  13.0000   False   True
887       1  19.000000  30.0000    True  False
888       3  29.699118  23.4500    True  False
889       1  26.000000  30.0000   False   True
890       3  32.000000   7.7500   False   True

[891 rows x 5 columns]

In [41]:
inputs

     Pclass        Age     Fare  female   male
0         3  22.000000   7.2500   False   True
1         1  38.000000  71.2833    True  False
2         3  26.000000   7.9250    True  False
3         1  35.000000  53.1000    True  False
4         3  35.000000   8.0500   False   True
..      ...        ...      ...     ...    ...
886       2  27.000000  13.0000   False   True
887       1  19.000000  30.0000    True  False
888       3  29.699118  23.4500    True  False
889       1  26.000000  30.0000   False   True
890       3  32.000000   7.7500   False   True

[891 rows x 5 columns]

In [42]:
inputs

     Pclass        Age     Fare  female   male
0         3  22.000000   7.2500   False   True
1         1  38.000000  71.2833    True  False
2         3  26.000000   7.9250    True  False
3         1  35.000000  53.1000    True  False
4         3  35.000000   8.0500   False   True
..      ...        ...      ...     ...    ...
886       2  27.000000  13.0000   False   True
887       1  19.000000  30.0000    True  False
888       3  29.699118  23.4500    True  False
889       1  26.000000  30.0000   False   True
890       3  32.000000   7.7500   False   True

[891 rows x 5 columns]

In [43]:
inputs.head(10)

   Pclass        Age     Fare  female   male
0       3  22.000000   7.2500   False   True
1       1  38.000000  71.2833    True  False
2       3  26.000000   7.9250    True  False
3       1  35.000000  53.1000    True  False
4       3  35.000000   8.0500   False   True
5       3  29.699118   8.4583   False   True
6       1  54.000000  51.8625   False   True
7       3   2.000000  21.0750   False   True
8       3  27.000000  11.1333    True  False
9       2  14.000000  30.0708    True  False

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train,X_test,y_train,y_test = train_test_split(inputs,target,train_size=0.8)

In [63]:
len(X_train)

712

In [64]:
len(X_test)

179

In [65]:
len(inputs)

891

In [66]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

In [67]:
model.fit(X_train,y_train)

GaussianNB()

In [68]:
model.score(X_test,y_test)

0.7877094972067039

In [69]:
X_test.head(10)

     Pclass        Age     Fare  female   male
375       1  29.699118  82.1708    True  False
428       3  29.699118   7.7500   False   True
532       3  17.000000   7.2292   False   True
85        3  33.000000  15.8500    True  False
418       2  30.000000  13.0000   False   True
26        3  29.699118   7.2250   False   True
355       3  28.000000   9.5000   False   True
66        2  29.000000  10.5000    True  False
287       3  22.000000   7.8958   False   True
35        1  42.000000  52.0000   False   True

In [70]:
y_test[:10]

375    1
428    0
532    0
85     1
418    0
26     0
355    0
66     1
287    0
35     0
Name: Survived, dtype: int64

In [72]:
model.predict_proba(X_test[:10])

array([[0.00136007, 0.99863993],
       [0.98953342, 0.01046658],
       [0.98670453, 0.01329547],
       [0.04879671, 0.95120329],
       [0.97738207, 0.02261793],
       [0.98951954, 0.01048046],
       [0.98935946, 0.01064054],
       [0.02210527, 0.97789473],
       [0.98821251, 0.01178749],
       [0.88502155, 0.11497845]])