In [35]:
import pandas as pd
from sklearn import linear_model

In [7]:
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\ML\2) Linear_Regression_Multiple_Variable\data\homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
median_bedrooms = df['bedrooms'].median()
median_bedrooms

np.float64(4.0)

In [19]:
df['bedrooms'] = df['bedrooms'].fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [33]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df['price'])
print(reg.coef_)
print(reg.intercept_)

[  112.06244194 23388.88007794 -3231.71790863]
221323.0018654043

In [28]:
predict_df = pd.DataFrame({
    'area': [3000,2500],
    'bedrooms': [3,4],
    'age': [40,5]
}
)
predict_df

   area  bedrooms  age
0  3000         3   40
1  2500         4    5

In [29]:
reg.predict(predict_df[['area','bedrooms','age']])

array([498408.25158031, 578876.03748933])

In [34]:
112.06244194*3000+ 23388.88007794*3 -3231.71790863*40+221323.0018654043

498408.2515740243