In [1]:
'''
Download heart disease dataset heart.csv in Exercise folder and do following, 
(credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)
1. Load heart disease dataset in pandas dataframe
2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
3. Convert text columns to numbers using label encoding and one hot encoding
4. Apply scaling
5. Build a classification model using support vector machine. Use standalone model as well as Bagging model
and check if you see any difference in the performance.
6. Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance
7. Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why.
Use internet to figure out in what conditions bagging works the best.

'''

'\nDownload heart disease dataset heart.csv in Exercise folder and do following, \n(credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)\n1. Load heart disease dataset in pandas dataframe\n2. Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3\n3. Convert text columns to numbers using label encoding and one hot encoding\n4. Apply scaling\n5. Build a classification model using support vector machine. Use standalone model as well as Bagging model\nand check if you see any difference in the performance.\n6. Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance\n7. Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why.\nUse internet to figure out in what conditions bagging works the best.\n\n'

In [5]:
import pandas as pd

df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\ML\19) Bagging\data\heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df2 = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\ML\18) PCA\data\heart.csv")
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [6]:
df['zBP'] = (df['RestingBP']-df['RestingBP'].mean())/df['RestingBP'].std()
df['zCholesterol'] = (df['Cholesterol']-df['Cholesterol'].mean())/df['Cholesterol'].std()
df['zBS'] = (df['FastingBS']-df['FastingBS'].mean())/df['FastingBS'].std()
df['zHR'] = (df['MaxHR']-df['MaxHR'].mean())/df['MaxHR'].std()
df['zOldpeak'] = (df['Oldpeak']-df['Oldpeak'].mean())/df['Oldpeak'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS,zHR,zOldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041,-0.188897,0.293123
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770,0.164595,2.355810
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041,-0.856602,0.293123
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041,1.460728,-0.831979
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041,1.421452,-0.831979

In [7]:
df = df[(df['zBP']>-3) & (df['zBP']<3) & (df['zCholesterol']>-3) & (df['zCholesterol']<3) & (df['zBS']>-3) & (df['zBS']<3) & (df['zHR']>-3) & (df['zHR']<3) & (df['zOldpeak']>-3) & (df['zOldpeak']<3)]

In [8]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS,zHR,zOldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041,-0.188897,0.293123
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770,0.164595,2.355810
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041,-0.856602,0.293123
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041,1.460728,-0.831979
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041,1.421452,-0.831979

In [9]:
df = df.drop(columns=['zBP','zCholesterol','zBS','zHR','zOldpeak'])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['ExerciseAngina'] = le.fit_transform(df['ExerciseAngina'])
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    transformers=[('ohe',OneHotEncoder(drop='first'),[2,6,10])],
    remainder='passthrough'
)
df = ct.fit_transform(df)
new_columns = ct.get_feature_names_out()
df_final = pd.DataFrame(df,columns=new_columns)
df_final.columns = [col.split("__")[-1] for col in df_final.columns]

In [12]:
df_final

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,40.0,1.0,140.0,289.0,0.0,172.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,49.0,0.0,160.0,180.0,0.0,156.0,0.0,1.0,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,37.0,1.0,130.0,283.0,0.0,98.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,48.0,0.0,138.0,214.0,0.0,108.0,1.0,1.5,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,54.0,1.0,150.0,195.0,0.0,122.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,0.0,0.0,1.0,1.0,0.0,1.0,0.0,45.0,1.0,110.0,264.0,0.0,132.0,0.0,1.2,1.0
895,0.0,0.0,0.0,1.0,0.0,1.0,0.0,68.0,1.0,144.0,193.0,1.0,141.0,0.0,3.4,1.0
896,0.0,0.0,0.0,1.0,0.0,1.0,0.0,57.0,1.0,130.0,131.0,0.0,115.0,1.0,1.2,1.0
897,1.0,0.0,0.0,0.0,0.0,1.0,0.0,57.0,0.0,130.0,236.0,0.0,174.0,0.0,0.0,1.0
898,0.0,1.0,0.0,1.0,0.0,0.0,1.0,38.0,1.0,138.0,175.0,0.0,173.0,0.0,0.0,0.0

In [13]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# List of columns to scale
cols_to_scale = ['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']

# Apply scaling only to these columns
df_final[cols_to_scale] = scaler.fit_transform(df_final[cols_to_scale])

df_final.head()

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.428154,1.0,0.465900,0.849636,0.0,1.384320,0.0,-0.855469,0.0
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.475855,0.0,1.634714,-0.168122,0.0,0.752973,0.0,0.137516,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.745588,1.0,-0.118507,0.793612,0.0,-1.535661,0.0,-0.855469,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.581666,0.0,0.349019,0.149344,0.0,-1.141069,1.0,0.634008,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.053200,1.0,1.050307,-0.028064,0.0,-0.588640,0.0,-0.855469,0.0

In [26]:
X = df_final.drop(columns=['HeartDisease'])
y = df_final['HeartDisease']

In [40]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,stratify=y,random_state=20)

In [41]:
''' 5. Build a classification model using support vector machine. Use standalone model as well as Bagging model
and check if you see any difference in the performance.'''

from sklearn.svm import SVC 

model = SVC()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.84

In [42]:
from sklearn.ensemble import BaggingClassifier

bag_model_svc = BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0
)

bag_model_svc.fit(X_train,y_train)
bag_model_svc.score(X_test,y_test)

0.84

In [43]:
''' 
6. Now use decision tree classifier. Use standalone model as well as Bagging and check if you notice any difference in performance
'''

from sklearn.tree import DecisionTreeClassifier

model_decisionTree = DecisionTreeClassifier()
model_decisionTree.fit(X_train,y_train)
model_decisionTree.score(X_test,y_test)

0.7822222222222223

In [44]:
bag_model_decisionTree = BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0
)

bag_model_decisionTree.fit(X_train,y_train)
bag_model_decisionTree.score(X_test,y_test)

0.8222222222222222

In [25]:
# In decision Tree Classifier it increased the accuracy up to 4 % but in svm not so changes.

In [46]:
'''
7. Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why.
Use internet to figure out in what conditions bagging works the best.
'''

# In decision tree it makes sense to use as in 

# SVM (Standalone = 0.84, Bagging = 0.84 )
# DecisionTree (Standalone = 0.78, Bagging = 0.82)

# Bagging is useful for unstable model, noise data,Overfitting case and weak learners

'\n7. Comparing performance of svm and decision tree classifier figure out where it makes most sense to use bagging and why.\nUse internet to figure out in what conditions bagging works the best.\n'