In [241]:
'''Download heart disease dataset heart.csv in Exercise folder and do following, 
(credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)

1) Load heart disease dataset in pandas dataframe
2) Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
3) Convert text columns to numbers using label encoding and one hot encoding
4) Apply scaling
5) Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy
6) Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. 
Keep in mind that many times doing PCA reduces the accuracy but computation is much lighter and 
that's the trade off you need to consider while building models in real life
'''

"Download heart disease dataset heart.csv in Exercise folder and do following, \n(credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)\n\n1) Load heart disease dataset in pandas dataframe\n2) Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3\n3) Convert text columns to numbers using label encoding and one hot encoding\n4) Apply scaling\n5) Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy\n6) Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. \nKeep in mind that many times doing PCA reduces the accuracy but computation is much lighter and \nthat's the trade off you need to consider while building models in real life\n"

In [242]:
import pandas as pd

df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\ML\18) PCA\data\heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [243]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [244]:
df['zBP'] = (df['RestingBP']-df['RestingBP'].mean())/df['RestingBP'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660

In [245]:
df['zCholesterol'] = (df['Cholesterol']-df['Cholesterol'].mean())/df['Cholesterol'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578

In [246]:
df['zBS'] = (df['FastingBS']-df['FastingBS'].mean())/df['FastingBS'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041

In [247]:
df['zHR'] = (df['MaxHR']-df['MaxHR'].mean())/df['MaxHR'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS,zHR
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041,-0.188897
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770,0.164595
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041,-0.856602
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041,1.460728
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041,1.421452

In [248]:
df['zOldpeak'] = (df['Oldpeak']-df['Oldpeak'].mean())/df['Oldpeak'].std()
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS,zHR,zOldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041,-0.188897,0.293123
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770,0.164595,2.355810
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041,-0.856602,0.293123
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041,1.460728,-0.831979
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041,1.421452,-0.831979

In [249]:
df2 = df[(df['zBP']>-3) & (df['zBP']<3) & (df['zCholesterol']>-3) & (df['zCholesterol']<3) & (df['zBS']>-3) & (df['zBS']<3) & (df['zHR']>-3) & (df['zHR']<3) & (df['zOldpeak']>-3) & (df['zOldpeak']<3)]
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,zBP,zCholesterol,zBS,zHR,zOldpeak
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.410685,0.824621,-0.551041,1.382175,-0.831979
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1.490940,-0.171867,-0.551041,0.753746,0.105606
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,-0.129442,0.769768,-0.551041,-1.524307,-0.831979
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.302660,0.138964,-0.551041,-1.131539,0.574398
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.950812,-0.034736,-0.551041,-0.581664,-0.831979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,-1.209697,0.596068,-0.551041,-0.188897,0.293123
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.626736,-0.053020,1.812770,0.164595,2.355810
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,-0.129442,-0.619830,-0.551041,-0.856602,0.293123
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,-0.129442,0.340090,-0.551041,1.460728,-0.831979
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.302660,-0.217578,-0.551041,1.421452,-0.831979

In [250]:
df.shape[0]-df2.shape[0]

19

In [251]:
df2 = df2.drop(columns=['zBP','zCholesterol','zBS','zHR','zOldpeak'])
df2

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [252]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dfle = df2.copy()
dfle['Sex'] = le.fit_transform(dfle['Sex'])
dfle

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [253]:
df['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [254]:
df['RestingECG'].unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [255]:
df2['ExerciseAngina'].unique()

array(['N', 'Y'], dtype=object)

In [256]:
dfle['ExerciseAngina'] = le.fit_transform(dfle['ExerciseAngina'])
dfle

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,1,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,1,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,0,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,1,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [257]:
df2['ST_Slope'].unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [258]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    transformers=[('ohe',OneHotEncoder(drop='first'),[2,6,10])],
    remainder='passthrough'
)
dfle = ct.fit_transform(dfle)
new_columns = ct.get_feature_names_out()
df_final = pd.DataFrame(dfle,columns=new_columns)
df_final.columns = [col.split("__")[-1] for col in df_final.columns]

In [259]:
df_final

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,40.0,1.0,140.0,289.0,0.0,172.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,49.0,0.0,160.0,180.0,0.0,156.0,0.0,1.0,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,37.0,1.0,130.0,283.0,0.0,98.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,48.0,0.0,138.0,214.0,0.0,108.0,1.0,1.5,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,54.0,1.0,150.0,195.0,0.0,122.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,0.0,0.0,1.0,1.0,0.0,1.0,0.0,45.0,1.0,110.0,264.0,0.0,132.0,0.0,1.2,1.0
895,0.0,0.0,0.0,1.0,0.0,1.0,0.0,68.0,1.0,144.0,193.0,1.0,141.0,0.0,3.4,1.0
896,0.0,0.0,0.0,1.0,0.0,1.0,0.0,57.0,1.0,130.0,131.0,0.0,115.0,1.0,1.2,1.0
897,1.0,0.0,0.0,0.0,0.0,1.0,0.0,57.0,0.0,130.0,236.0,0.0,174.0,0.0,0.0,1.0
898,0.0,1.0,0.0,1.0,0.0,0.0,1.0,38.0,1.0,138.0,175.0,0.0,173.0,0.0,0.0,0.0

In [260]:
df_final.describe()

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
count,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000
mean,0.190211,0.222469,0.050056,0.604004,0.193548,0.499444,0.437152,53.497219,0.789766,132.027809,198.005562,0.232481,136.917686,0.403782,0.861513,0.547275
std,0.392686,0.416136,0.218181,0.489336,0.395299,0.500278,0.496311,9.456073,0.407701,17.120895,107.157779,0.422649,25.356740,0.490928,1.007626,0.498037
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,0.000000,80.000000,0.000000,0.000000,63.000000,0.000000,-2.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47.000000,1.000000,120.000000,174.500000,0.000000,120.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,54.000000,1.000000,130.000000,222.000000,0.000000,138.000000,0.000000,0.500000,1.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,60.000000,1.000000,140.000000,266.000000,0.000000,156.000000,1.000000,1.500000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,77.000000,1.000000,185.000000,518.000000,1.000000,202.000000,1.000000,4.000000,1.000000

In [261]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# List of columns to scale
cols_to_scale = ['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']

# Apply scaling only to these columns
df_final[cols_to_scale] = scaler.fit_transform(df_final[cols_to_scale])

df_final.head()

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,HeartDisease
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.428154,1.0,0.465900,0.849636,0.0,1.384320,0.0,-0.855469,0.0
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.475855,0.0,1.634714,-0.168122,0.0,0.752973,0.0,0.137516,1.0
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.745588,1.0,-0.118507,0.793612,0.0,-1.535661,0.0,-0.855469,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.581666,0.0,0.349019,0.149344,0.0,-1.141069,1.0,0.634008,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.053200,1.0,1.050307,-0.028064,0.0,-0.588640,0.0,-0.855469,0.0

In [262]:
X = df_final.drop(columns=['HeartDisease'])
y = df_final['HeartDisease']

In [263]:
X

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,-1.428154,1.0,0.465900,0.849636,0.0,1.384320,0.0,-0.855469
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,-0.475855,0.0,1.634714,-0.168122,0.0,0.752973,0.0,0.137516
2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.745588,1.0,-0.118507,0.793612,0.0,-1.535661,0.0,-0.855469
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.581666,0.0,0.349019,0.149344,0.0,-1.141069,1.0,0.634008
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.053200,1.0,1.050307,-0.028064,0.0,-0.588640,0.0,-0.855469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,0.0,0.0,1.0,1.0,0.0,1.0,0.0,-0.899099,1.0,-1.287320,0.616205,0.0,-0.194048,0.0,0.336112
895,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.534554,1.0,0.699663,-0.046738,1.0,0.161085,0.0,2.520678
896,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.370633,1.0,-0.118507,-0.625646,0.0,-0.864854,1.0,0.336112
897,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.370633,0.0,-0.118507,0.354763,0.0,1.463238,0.0,-0.855469
898,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.639776,1.0,0.349019,-0.214808,0.0,1.423779,0.0,-0.855469

In [264]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 30)

In [265]:
X_train

,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ST_Slope_Flat,ST_Slope_Up,Age,Sex,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak
281,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.582255,1.0,0.465900,-0.270832,0.0,0.121626,0.0,-0.855469
396,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.957210,1.0,-0.702913,-1.848823,1.0,-0.272966,1.0,0.336112
479,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.053200,1.0,0.232138,0.205367,0.0,0.121626,1.0,2.123484
378,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.793877,1.0,1.050307,-1.848823,0.0,-1.259446,1.0,-0.855469
684,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.957210,1.0,-0.702913,-0.000052,0.0,-0.272966,1.0,0.733306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,0.0,0.0,0.0,0.0,1.0,1.0,0.0,-0.687477,1.0,1.634714,0.868310,0.0,0.831891,1.0,2.123484
500,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.688066,1.0,0.232138,-0.028064,0.0,-0.430803,0.0,-0.557573
813,1.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.322343,0.0,-0.118507,0.055971,0.0,1.384320,0.0,0.534709
421,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.370633,1.0,-0.235388,-1.848823,1.0,0.437299,1.0,0.137516
805,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.476444,1.0,-1.579523,0.392112,0.0,0.674054,1.0,-0.259678

In [266]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(X_train,y_train)
model_svc.score(X_test,y_test)

0.85

In [267]:
from sklearn.linear_model import LogisticRegression

model_logistic = LogisticRegression()
model_logistic.fit(X_train,y_train)
model_logistic.score(X_test,y_test)

0.8611111111111112

In [268]:
from sklearn.ensemble import RandomForestClassifier

model_randomForest = RandomForestClassifier()
model_randomForest.fit(X_train,y_train)
model_randomForest.score(X_test,y_test)

0.8444444444444444

In [269]:
# Logistic is the best
from sklearn.decomposition import PCA

pca = PCA(0.95)
x_pca = pca.fit_transform(X)

In [270]:
pca.n_components

0.95

In [271]:
pca.explained_variance_ratio_

array([0.28639588, 0.17519378, 0.13012999, 0.10133573, 0.0887077 ,
       0.0457081 , 0.04371921, 0.02916961, 0.02455543, 0.02302124,
       0.01958482])

In [272]:
pca.n_components_

np.int64(11)

In [273]:
x_pca

array([[-2.24841515,  1.00484941, -0.49542064, ...,  0.19189274,
         0.07368105,  0.2988976 ],
       [-0.05427059,  0.98130238, -0.62121468, ..., -0.88916546,
        -0.2810416 , -0.18563497],
       [-0.95105898, -0.22161   , -0.34992659, ..., -0.30211939,
         0.20921236,  0.41731626],
       ...,
       [ 1.1356401 , -0.69459707,  0.34745494, ...,  0.25083817,
        -0.38554267,  0.01784271],
       [-1.0326168 ,  0.56480223, -0.44812715, ..., -0.80407178,
        -0.4728484 , -0.05807237],
       [-2.1593453 ,  0.12140508, -0.4715705 , ...,  0.30036305,
        -0.00396471,  0.16148371]], shape=(899, 11))

In [274]:
X_pca_train,X_pca_test,y_train,y_test = train_test_split(x_pca,y,test_size=0.2,random_state=2)
X_pca_train

array([[-1.37892513, -0.09227627, -0.33022698, ...,  0.15532019,
        -0.04512867,  0.33969013],
       [ 0.40135055,  0.33787129,  0.41888453, ...,  0.20678313,
        -0.23810385, -0.01121908],
       [-2.04755517,  0.54715782, -0.35421406, ...,  0.42886235,
         0.02201867,  0.18094011],
       ...,
       [-0.58146866, -0.05216631, -0.62349498, ...,  0.17765258,
         0.85293053, -0.08477311],
       [ 3.16591032,  1.76097717,  1.00645823, ...,  0.23436414,
         0.55975831, -0.27384788],
       [-1.36748209,  1.15763944, -0.87121759, ...,  0.218361  ,
         0.04527599,  0.35128677]], shape=(719, 11))

In [275]:
model_logistic.fit(X_pca_train,y_train)
model_logistic.score(X_pca_test,y_test)

0.8055555555555556