In [23]:
import pandas as pd
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\Pandas\chapter_3_assets\4_handling_missing_data_fillna_dropna_interpolate\weather_data.csv",parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [24]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

In [25]:
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [39]:
df.replace("novalue",0,inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [40]:
import pandas as pd
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\Pandas\chapter_3_assets\4_handling_missing_data_fillna_dropna_interpolate\weather_data.csv",parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [44]:
df.fillna(
    {
        'temperature':df['temperature'].mean(),
        'windspeed':df['windspeed'].mean(),
        'event':"No Event"
    }, inplace=True
)
df

         day  temperature  windspeed     event
0 2017-01-01        32.00       6.00      Rain
1 2017-01-04        33.22       9.00     Sunny
2 2017-01-05        28.00       8.42      Snow
3 2017-01-06        33.22       7.00  No Event
4 2017-01-07        32.00       8.42      Rain
5 2017-01-08        33.22       8.42     Sunny
6 2017-01-09        33.22       8.42  No Event
7 2017-01-10        34.10       8.10    Cloudy
8 2017-01-11        40.00      12.00     Sunny

In [45]:
import pandas as pd
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\Pandas\chapter_3_assets\4_handling_missing_data_fillna_dropna_interpolate\weather_data.csv",parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [55]:
# Select only the numeric columns
numeric_df = df.select_dtypes(include=['number'])

# Interpolate only on the numeric columns
numeric_df.interpolate(inplace=True)

# To see the interpolated dataframe, you can print the new dataframe
print(numeric_df)

   temperature  windspeed
0         32.0      6.000
1         30.0      9.000
2         28.0      8.000
3         30.0      7.000
4         32.0      7.275
5         32.7      7.550
6         33.4      7.825
7         34.1      8.100
8         40.0     12.000

In [60]:
import pandas as pd
df = pd.read_csv(r"D:\Carrer\AI\AI Er Learning\Pandas\chapter_3_assets\4_handling_missing_data_fillna_dropna_interpolate\weather_data.csv",parse_dates=["day"])
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [64]:
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [72]:
df.dropna(thresh=1)

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny