In [1]:
import pandas as pd
nepal_weather = pd.DataFrame({
    'city':['Kathmandu','Nuwakot'],
    'temperature':[30,24],
    'humidity':[65,70]
})
nepal_weather

        city  temperature  humidity
0  Kathmandu           30        65
1    Nuwakot           24        70

In [2]:
austrailia_weather = pd.DataFrame({
    'city':['Sydney','Brisbrane'],
    'temperature':[40,32],
    'humidity':[64,73]
})
austrailia_weather

        city  temperature  humidity
0     Sydney           40        64
1  Brisbrane           32        73

In [7]:
df = pd.concat([nepal_weather,austrailia_weather],keys=['nepal','austrailia'])
df

                   city  temperature  humidity
nepal      0  Kathmandu           30        65
           1    Nuwakot           24        70
austrailia 0     Sydney           40        64
           1  Brisbrane           32        73

In [10]:
nepal_weather.loc[0]

city           Kathmandu
temperature           30
humidity              65
Name: 0, dtype: object